<h1><%= @artist.id? 'Edit Artist' : 'Add Artist' %></h1>

<%= form_for [@chart, @artist] do |f| %>
<%= f.lable :name %>
<%= f.text_field :name, required: true, autofocus: true %>

<%= f.submit %>
<% end %>