<h1><%= @song.id ? 'Edit song' : 'Create song' %></h1>
<hr />
<%= form_for [@artist, @song] do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name, required: true, autofocus: true %>
  <br />
  <%= f.label :chart_id %>
  <%= f.select :chart_id, [['Top 100 US', 1], ['Top 100 Europe', 2]] %>
  <br />
  <%= f.submit%>
<% end %>